<!DOCTYPE html>
<html>
<head>
<style type="text/css">
.ribbon {
  /* positioning */
  position: fixed;
  padding: 5px 45px;
  width: 128px;
  /* top right of the page */
  top: 50px;
  right: -50px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  /* effects with some shadow */
  box-shadow: 0 0 0 3px #2c699e, 0 0 20px -3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 0 #ffffff, 0 0 5px rgba(0, 0, 0, 0.3);
  /* looks */
  background-color: #2c699e;
  color: #ffffff;
  font-size: 13px;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
  /* ribbon effects */
  border: 2px dotted #ffffff;
  /* webkit antialias fix */
  -webkit-backface-visibility: hidden;
  letter-spacing: .5px;
}
</style>
	<title><%= title %></title>
	<!--
	Ajout des balises SEO FB TWITTER META
	-->
	<meta charset="UTF-8" />
	<meta name="description" content="VOCALR Application de reconaissance vocale (par Thibaut LOMBARD) - et text2speech, comprenant des API optimisés, un modèle MVC et distribué en licence libre GNU."/>
	<link rel="canonical" href="https://vocal.ctrlfagency.com/" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="VOCALR Application WEB de reconaissance vocale" />
	<meta property="og:description" content="VOCALR Application de reconaissance vocale (par Thibaut LOMBARD) - et text2speech, comprenant des API optimisés, un modèle MVC et distribué en licence libre GNU." />
	<meta property="og:url" content="https://vocal.ctrlfagency.com/" />
	<meta property="og:site_name" content="VOCALR Application de reconaissance vocale (par Thibaut LOMBARD)" />
	<meta property="article:publisher" content="https://www.facebook.com/ctrlfagency/" />
	<meta property="article:tag" content="vocalr" />
	<meta property="article:tag" content="vocal recognition" />
	<meta property="article:tag" content="XHR" />
	<meta property="article:tag" content="MVC" />
	<meta property="article:tag" content="nodeJS" />
	<meta property="article:tag" content="Annyang" />
	<meta property="article:tag" content="API" />
	<meta property="article:tag" content="biorythme" />
	<meta property="article:tag" content="hello world" />
	<meta property="og:image" content="https://vocal.ctrlfagency.com/img/vocalr.png" />
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:description" content="VOCALR Application de reconaissance vocale (par Thibaut LOMBARD) - et text2speech, comprenant des API optimisés, un modèle MVC et distribué en licence libre GNU."/>
	<meta name="twitter:title" content="VOCALR Application de reconaissance vocale (par Thibaut LOMBARD) - Hello World"/>
	<meta name="twitter:domain" content="VOCALR Application de reconaissance vocale (par Thibaut LOMBARD)"/>
	<meta name="twitter:image" content="https://vocal.ctrlfagency.com/img/vocalr.png"/>
<script src="js/jquery.min.js"></script>
<script src="js/moment-with-locales.js"></script>
    <style type="text/css">
		.center-block{
		  position: relative;
		  border-radius: 10px;
		  width: 600px;
		  height: auto;
		  background-color: #21759B;
		}
		textarea{
			text-align: center;
			}
		#titreville {
		  font-size: 3em;
		  margin: auto;
		  margin-top: 50px;
		  padding-top: 20px;
		  color: #FFF;  
		  font-weight: 500;
		  font-size: 2em;
		}

		.text-center h2{
		  color: #fff;  
		  font-weight: 300;
 		  font-size: 2em;
		}
</style>
<script>
	//chargement de annyang
        var annyangScript = document.createElement('script');
        if (/localhost/.exec(window.location)) {
                annyangScript.src = "//vocal.ctrlfagency.com/js/annyang.js"
                         } else {
                annyangScript.src = "//vocal.ctrlfagency.com/js/annyang.min.js"
                        }
        document.write(annyangScript.outerHTML);
</script>
<script>
	$(function(){
				//chargement du https
				if (window.location.protocol != "https:")
					window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
	

	function getip(){
					$.ajax({
							url : "https://www.thibautlombard.space/geo/ip.php?callback=?",
							dataType:"jsonp",
							jsonp:"callback",
							success:function(data)
							{
							var	ip = data.ip;
							getiptocoord(ip);
							}
						});
			}
	getip();

	//fonction de conversion ip -> coordonnées 
	function getiptocoord(ip){

						$.ajax({
							url : "//api.tel2geo.fr/wthr/api/ip/"+ip+"/mod/ip/callback/",
							dataType:"jsonp",
							jsonp:"callback",
							success:function(data)
							{
	                                                var lati = data.lat;
                                               		var longi = data.lon;
				
                                	                getfirstweatherforecast(lati,longi);

							}
						});
				}

	
   // fonction d'affichage des données météos
   function getfirstweatherforecast(lati,longi){
	   // formatage de la date au format fr
	   moment.locale('fr');
	   // description des variables du climat
		var wthrdsc = {
						201 : "orages avec pluies",
						202 : "orages et fortes pluies",
						210 : "lègers orages",
						211 : "orages",
						212 : "orages violents",
						221 : "orages irréguliers",
						230 : "orages avec légères bruines",
						231 : "orages et bruines",
						232 : "orages et crachins",
						300 : "bruines de faibles intensités",
						301 : "bruines",
						302 : "fortes bruines",
						310 : "pluies et bruines de faibles intensités",
						311 : "bruines et pluies",
						312 : "pluies et bruines de fortes intensités",
						313 : "averses et bruines",
						314 : "pluies torrentielles et bruines",
						321 : "bruines torrentielles",
						500 : "légères pluies",
						501 : "pluies modérées",
						502 : "fortes pluies",
						503 : "pluies torrentielles",
						504 : "pluies extrèmes",
						511 : "pluies verglaçantes",
						520 : "averses de faibles intensités",
						521 : "averses",
						522 : "averses de fortes intensités",
						531 : "averses irrégulières",
						600 : "neiges légères",
						601 : "neiges",
						602 : "fortes neiges",
						611 : "grésil",
						612 : "averses de grésil",
						615 : "pluies légères et neiges",
						616 : "pluies et neiges",
						620 : "légères chutes de neiges",
						621 : "averse neigeuses",
						622 : "fortes chutes de neiges",
						701 : "brouillard",
						711 : "fumées",
						721 : "brumes",
						731 : "légères tempêtes de sables tourbillonnantes",
						741 : "brouillard",
						751 : "vents sablonneux",
						761 : "vents poussièreux",
						762 : "vents de cendres volcaniques",
						771 : "bourrasques",
						781 : "tornades",
						800 : "ciel clair",
						801 : "quelques nuages",
						802 : "nuages dispersés",
						803 : "nuages brisés",
						804 : "ciel couvert",
						900 : "tornades",
						901 : "tornade tropicale",
						902 : "ouragans",
						903 : "glace",
						904 : "chaleurs intenses",
						905 : "venteux",
						906 : "grêle",
						951 : "calme",
						952 : "légère brises",
						953 : "brises",
						954 : "brises modérées",
						955 : "brises fraîches",
						956 : "fortes brises",
						957 : "vents forts, lègers coups de vents",
						958 : "coups de vents",
						959 : "fortes bourrasques de vent",
						960 : "orages",
						961 : "orages violents",
						962 : "ouragans"
						};
		// à décommenter pour debug
		//alert(lati + '<-lat-long->' + longi + 'api ');
		$.ajax({
        url: "//api.tel2geo.fr/wthr/api/mod/owm/lat/"+lati+"/lon/"+longi+"/callback/",
        dataType: "jsonp",
        jsonp:"callback",
        success:function(data)	{
						var city = data.city.name;
						//alert(city);
						$("#titreville").html(city);
						for(var i=0; i<data.list.length; i++){
						  var weatherDescr = data.list[i].weather[0].description;
						  var celciusTemp =((data.list[i].main.temp)-273).toFixed(0);
						  var dateTime = data.list[i].dt_txt;
						  var pic = data.list[i].weather[0].icon;
						  var number = data.list[i].weather[0].id;
						  
						  if (number >= 200 && number <= 232){

							$(".text-center").append("<h2><li>" + 
					 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/thunderstorm.svg'/>" + "</li></h2><hr>");
						  }
						  else if (number >= 300 && number <= 321){
							$(".text-center").append("<h2><li>" + 
					 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/drizzle.svg'/>" + "</li></h2><hr>");
						  }
						  else if (number >= 500 && number <= 531){
							$(".text-center").append("<h2><li>" + 
					 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/rain.svg'/>" + "</li></h2><hr>");
						  }
						  else if (number >= 600 && number <= 622){
							$(".text-center").append("<h2><li>" + 
					 dateTime + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/snow.svg'/>" + "</li></h2><hr>");
						  }
						  else if (number >= 701 && number <= 781){
							$(".text-center").append("<h2><li>" + 
					 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/mist.svg'/>" + "</li></h2><hr>");
						  }
						  else if (number == 800){
							if(dateTime.includes("00:00:00")){
							  $(".text-center").append("<h2><li>" + 
					 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/moon.svg'/>" + "</li></h2><hr>");}
							else if(dateTime.includes("03:00:00")){
							  $(".text-center").append("<h2><li>" + 
					 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/moon.svg'/>" + "</li></h2><hr>");}
							else {
							  $(".text-center").append("<h2><li>" + 
					 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/sun.svg'/>" + "</li></h2><hr>");
							}
						  }
						  else if (number == 801){
							if(dateTime.includes("00:00:00")){
							  $(".text-center").append("<h2><li>" + 
					 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/fewcloudsnight.svg'/>" + "</li></h2><hr>");}
							else if(dateTime.includes("03:00:00")){
							  $(".text-center").append("<h2><li>" + 
					 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/fewcloudsnight.svg'/>" + "</li></h2><hr>");}
							else {
							  $(".text-center").append("<h2><li>" + 
					 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/fewclouds.svg'/>" + "</li></h2><hr>");
							}
						  }
						  else if (number == 802){
							$(".text-center").append("<h2><li>" + 
					 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/scatteredclouds.svg'/>" + "</li></h2><hr>");
						  }
						  else {
							$(".text-center").append("<h2><li>" + 
					 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/brokenclouds.svg'/>" + "</li></h2><hr>");
						  }//fin du else
						  
						}//fin du for
					 
					}//fin de fonction data
				});//fin de requete ajax
			  }// fin de la fonction getfirstweatherforecast

						
				});// fin de fonction document ready
 	</script>
	<!-- Jquery doit etre placé avant bootstrap pour éviter les erreurs -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<script src="js/bootstrap.min.js"></script>
	<script>
	"use strict";
	// On s'assure que annyang est chargé avec succès
	if (annyang) {
		// début de le fonction de city - ville
		var recupcoord = function (tag)
		{
		var villepaysoriginal = tag;
		var villepays = villepaysoriginal.split(' ').join('+');
		var cm = $('#content-meteo');
		$('#content-meteo').contents().remove();
		cm.html('<h1 id="titreville"></h1>');
		$.ajax({
        url: "//api.tel2geo.fr/wthr/api/villepays/"+villepays+"/mod/osm/callback/",
        dataType: "jsonp",
        jsonp:"callback",
        success:function(data)
								{
									// Calcul du nombre de clés comme occurences JSON
									var nboccurences = Object.keys(data).length;
									getmeteo(data[0].lat,data[0].lon);
									//alert(data[1].display_name);
									//for (var i=0; i<nboccurences; i++) {
									//boucle qui permet d'afficher tout les résultats 
										//								} // Fin de la boucle 
								} // fin de la fonction data
						});//fin de requete ajax
				} // fin de fonction recupcoord
				
				
		function getmeteo(latitudeville,longitudeville){
				// formatage de la date au format fr
			   moment.locale('fr');
			   // description des variables du climat
				var wthrdsc = {
								201 : "orages avec pluies",
								202 : "orages et fortes pluies",
								210 : "lègers orages",
								211 : "orages",
								212 : "orages violents",
								221 : "orages irréguliers",
								230 : "orages avec légères bruines",
								231 : "orages et bruines",
								232 : "orages et crachins",
								300 : "bruines de faibles intensités",
								301 : "bruines",
								302 : "fortes bruines",
								310 : "pluies et bruines de faibles intensités",
								311 : "bruines et pluies",
								312 : "pluies et bruines de fortes intensités",
								313 : "averses et bruines",
								314 : "pluies torrentielles et bruines",
								321 : "bruines torrentielles",
								500 : "légères pluies",
								501 : "pluies modérées",
								502 : "fortes pluies",
								503 : "pluies torrentielles",
								504 : "pluies extrèmes",
								511 : "pluies verglaçantes",
								520 : "averses de faibles intensités",
								521 : "averses",
								522 : "averses de fortes intensités",
								531 : "averses irrégulières",
								600 : "neiges légères",
								601 : "neiges",
								602 : "fortes neiges",
								611 : "grésil",
								612 : "averses de grésil",
								615 : "pluies légères et neiges",
								616 : "pluies et neiges",
								620 : "légères chutes de neiges",
								621 : "averse neigeuses",
								622 : "fortes chutes de neiges",
								701 : "brouillard",
								711 : "fumées",
								721 : "brumes",
								731 : "légères tempêtes de sables tourbillonnantes",
								741 : "brouillard",
								751 : "vents sablonneux",
								761 : "vents poussièreux",
								762 : "vents de cendres volcaniques",
								771 : "bourrasques",
								781 : "tornades",
								800 : "ciel clair",
								801 : "quelques nuages",
								802 : "nuages dispersés",
								803 : "nuages brisés",
								804 : "ciel couvert",
								900 : "tornades",
								901 : "tornade tropicale",
								902 : "ouragans",
								903 : "glace",
								904 : "chaleurs intenses",
								905 : "venteux",
								906 : "grêle",
								951 : "calme",
								952 : "légère brises",
								953 : "brises",
								954 : "brises modérées",
								955 : "brises fraîches",
								956 : "fortes brises",
								957 : "vents forts, lègers coups de vents",
								958 : "coups de vents",
								959 : "fortes bourrasques de vent",
								960 : "orages",
								961 : "orages violents",
								962 : "ouragans"
								};
				$.ajax({
				url: "//api.tel2geo.fr/wthr/api/mod/owm/lat/"+latitudeville+"/lon/"+longitudeville+"/callback/",
				dataType: "jsonp",
				jsonp:"callback",
				success:function(data)
										{
								var city = data.city.name;
								$("#titreville").html(city);
								for(var i=0; i<data.list.length; i++){
								  var weatherDescr = data.list[i].weather[0].description;
								  var celciusTemp =((data.list[i].main.temp)-273).toFixed(0);
								  var dateTime = data.list[i].dt_txt;
								  var pic = data.list[i].weather[0].icon;
								  var number = data.list[i].weather[0].id;
								  
								  if (number >= 200 && number <= 232){

									$(".text-center").append("<h2><li>" + 
							 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/thunderstorm.svg'/>" + "</li></h2><hr>");
								  }
								  else if (number >= 300 && number <= 321){
									$(".text-center").append("<h2><li>" + 
							 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/drizzle.svg'/>" + "</li></h2><hr>");
								  }
								  else if (number >= 500 && number <= 531){
									$(".text-center").append("<h2><li>" + 
							 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/rain.svg'/>" + "</li></h2><hr>");
								  }
								  else if (number >= 600 && number <= 622){
									$(".text-center").append("<h2><li>" + 
							 dateTime + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/snow.svg'/>" + "</li></h2><hr>");
								  }
								  else if (number >= 701 && number <= 781){
									$(".text-center").append("<h2><li>" + 
							 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/mist.svg'/>" + "</li></h2><hr>");
								  }
								  else if (number == 800){
									if(dateTime.includes("00:00:00")){
									  $(".text-center").append("<h2><li>" + 
							 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/moon.svg'/>" + "</li></h2><hr>");}
									else if(dateTime.includes("03:00:00")){
									  $(".text-center").append("<h2><li>" + 
							 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/moon.svg'/>" + "</li></h2><hr>");}
									else {
									  $(".text-center").append("<h2><li>" + 
							 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/sun.svg'/>" + "</li></h2><hr>");
									}
								  }
								  else if (number == 801){
									if(dateTime.includes("00:00:00")){
									  $(".text-center").append("<h2><li>" + 
							 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/fewcloudsnight.svg'/>" + "</li></h2><hr>");}
									else if(dateTime.includes("03:00:00")){
									  $(".text-center").append("<h2><li>" + 
							 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/fewcloudsnight.svg'/>" + "</li></h2><hr>");}
									else {
									  $(".text-center").append("<h2><li>" + 
							 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/fewclouds.svg'/>" + "</li></h2><hr>");
									}
								  }
								  else if (number == 802){
									$(".text-center").append("<h2><li>" + 
							 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/scatteredclouds.svg'/>" + "</li></h2><hr>");
								  }
								  else {
									$(".text-center").append("<h2><li>" + 
							 moment(dateTime).format('LLLL') + "&nbsp;" + celciusTemp + " &#8451;" + "&nbsp;" + wthrdsc[number] + "&nbsp;" + "<img src='img/brokenclouds.svg'/>" + "</li></h2><hr>");
								  }
								  
								}
							 } // fin de fonction data
							 
						});// fin de requete ajax
				scrollTo("#section_addresses");
				}

		//fin cityville
		// on définit la fonction de rechargement de la page
		var rechargerpage= function() {
		window.location.reload();
			}
		// on définit la fonction de rechargement de la page
		var pageaccueil= function() {
		document.location='https://vocal.ctrlfagency.com/';
			}	
		var meteo= function() {
		document.location='https://vocal.ctrlfagency.com/meteo';
			}	
		var t2g= function() {
		document.location='https://vocal.ctrlfagency.com/t2g';
			}
		// on définit la fonction de rechargement de la page
		var pagebiorythme= function() {
		document.location='https://vocal.ctrlfagency.com/biorhythm';
			}

		// On charge les commandes
		var commands = {
		'temps (à) *search':      recupcoord,
	    'recharger la page':      rechargerpage,
		'accueil':      pageaccueil,
		'météo':      meteo,
		'géolocalisation':      t2g,
      	'biorythme':      pagebiorythme
      	
			};

	// Active le mode debug que nous pourrons par la suite visualiser dans la console (F12)
	annyang.debug();

    	// Ajoute les commandes de réponses
	annyang.addCommands(commands);

    	// Configure le langage: pour la reconaissance vocale (Anglais est par défaut)
    	annyang.setLanguage('fr-FR');

    	// Démarre le mode listening, en cas d'échec, cela affiche le message d'erreur unsupported.
 	annyang.start();
 		} else {
   		$(document).ready(function() {
  		$('#unsupported').fadeIn('fast');
		});
		}
	//définit la vitesse du scrollTo
  	var scrollTo = function(identifier, speed) {
    		$('html, body').animate({
        	scrollTop: $(identifier).offset().top
    		}, speed || 1000);
  	}
  	</script>
	<link rel="stylesheet" href="css/main.css" />
</head>
<body>
<a href='https://github.com/tel2geo/t2g' style='position:fixed;padding:5px 45px;width:250px;top:60px;right:-50px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);box-shadow:0 0 0 3px #2c699e, 0 0 20px -3px rgba(0, 0, 0, 0.5);text-shadow:0 0 0 #ffffff, 0 0 5px rgba(0, 0, 0, 0.3);background-color:#2c699e;color:#ffffff;font-size:13px;font-family:sans-serif;text-decoration:none;font-weight:bold;z-index:9999;border:2px dotted #ffffff;-webkit-backface-visibility:hidden;letter-spacing:.5px;'>Fork me on GITHUB</a>
	  <div style="margin:100px;">
	  <nav class="navbar navbar-inverse navbar-static-top">
	  <div class="container">
	    <a class="navbar-brand" href="/">VOCALR</a>
	    <ul class="nav navbar-nav">
	      <li>
		<a href="/biorhythm">Biorhythm</a>
	      </li>
	      <li>
		<a href="/t2g">Geolocation</a>
	      </li>
	      <li class="active">
		<a href="/meteo">Weather</a>
	      </li>
 	      <li>
		<a href="/">Home</a>
	      </li>
	    </ul>
	  </div>
	  </nav>
	    <div class="jumbotron"  style="padding:40px;">
	      <h1>WTHR - API</h1>
	      <p align="justify">WTHR - API permit to display the 5 days forecast for a selected city and country. In order to try the API (application programming interface) SIMPLE BAN, you should say the following sentence.</p>
		<h2>Example</h2>
		<div id="section_addresses">
	  	<p><em>Quelque chose de plus intéressant... </em></p>
    		<p class="voice_instructions">Dites "temps" puis ajouter le nom de la ville ainsi que le pays dans votre phrase (ex: "temps Paris France").</p>
			<div class="center-block">
				<div class="text-center list-unstyled" id="content-meteo">
				  <h1 id="titreville"></h1>
				</div>
			 </div>
	  	<!--<p class="addresses" id="addresses" align="justify"></p>-->
		<p class="voice_instructions_after">Pour naviguer sur le site : Dites "accueil", "météo", ou "biorythme", "géolocalisation" ou "recharger la page".</p>
		</div>
		<h2>More</h2>
		<p align="justify">The WTHR api is available on github <a href="https://github.com/tel2geo/t2g/tree/master/api">there</a>.</p>
		<h2>WTHR links</h2>	
		<ol class="list-group">
				<li class="list-group-item">
				<p>ip-api.com - the JSON API that permit to resolve IP to precise coordinates <a href="http://ip-api.com/">link</a>.</p>
				</li>
				<li class="list-group-item">
				<p>OpenWeatherMap.org - The API that permit to asynchonously display the 5 days weather's forecast <a href="http://api.openweathermap.org">link</a>. </p>
				</li>
				<li class="list-group-item">
				<p>Nominatim - OpenStreetMap.org - The fantastic API that permit to resolve city-country name to coordinates <a href="http://nominatim.openstreetmap.org/">link</a>.</p>
				</li>
			</ol>
		</div>
	  </div>
	<div id="unsupported" class="hidden">
	   <h4>It seems that your browser is NOT supporting vocal recognition.</h4>
	   <p>Think to update (chrome, internet explorer , safari or firefox). Don't forget to allow ssl certificate from StartCOM CA in order to be able to browse the website <a href="https://vocal.ctrlfagency.com/">here.</a></p>
	</div>
	<!-- 
	Chargement de la lib highlight : 
	Cette lib permet les effet show et hide et aussi de glisser
	 -->
	<script src="js/highlight.pack.js"></script>
	<script>
	hljs.initHighlightingOnLoad();
	</script>
</body>
</html>
