<!DOCTYPE html>
<html>
<head>
<style type="text/css">
.ribbon {
  /* positioning */
  position: fixed;
  padding: 5px 45px;
  width: 128px;
  /* top right of the page */
  top: 50px;
  right: -50px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  /* effects with some shadow */
  box-shadow: 0 0 0 3px #2c699e, 0 0 20px -3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 0 #ffffff, 0 0 5px rgba(0, 0, 0, 0.3);
  /* looks */
  background-color: #2c699e;
  color: #ffffff;
  font-size: 13px;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
  /* ribbon effects */
  border: 2px dotted #ffffff;
  /* webkit antialias fix */
  -webkit-backface-visibility: hidden;
  letter-spacing: .5px;
}
</style>
	<title><%= title %></title>
	<!--
	Ajout des balises SEO FB TWITTER META
	-->
	<meta charset="UTF-8" />
	<meta name="description" content="VOCALR Application de reconaissance vocale (par Thibaut LOMBARD) - et text2speech, comprenant des API optimisés, un modèle MVC et distribué en licence libre GNU."/>
	<link rel="canonical" href="https://vocal.ctrlfagency.com/" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="VOCALR Application WEB de reconaissance vocale" />
	<meta property="og:description" content="VOCALR Application de reconaissance vocale (par Thibaut LOMBARD) - et text2speech, comprenant des API optimisés, un modèle MVC et distribué en licence libre GNU." />
	<meta property="og:url" content="https://vocal.ctrlfagency.com/" />
	<meta property="og:site_name" content="VOCALR Application de reconaissance vocale (par Thibaut LOMBARD)" />
	<meta property="article:publisher" content="https://www.facebook.com/ctrlfagency/" />
	<meta property="article:tag" content="vocalr" />
	<meta property="article:tag" content="vocal recognition" />
	<meta property="article:tag" content="XHR" />
	<meta property="article:tag" content="MVC" />
	<meta property="article:tag" content="nodeJS" />
	<meta property="article:tag" content="Annyang" />
	<meta property="article:tag" content="API" />
	<meta property="article:tag" content="biorythme" />
	<meta property="article:tag" content="hello world" />
	<meta property="og:image" content="https://vocal.ctrlfagency.com/img/vocalr.png" />
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:description" content="VOCALR Application de reconaissance vocale (par Thibaut LOMBARD) - et text2speech, comprenant des API optimisés, un modèle MVC et distribué en licence libre GNU."/>
	<meta name="twitter:title" content="VOCALR Application de reconaissance vocale (par Thibaut LOMBARD) - Hello World"/>
	<meta name="twitter:domain" content="VOCALR Application de reconaissance vocale (par Thibaut LOMBARD)"/>
	<meta name="twitter:image" content="https://vocal.ctrlfagency.com/img/vocalr.png"/>
	<style type="text/css">
	#mapid { height: 330px;
		margin-bottom: 30px; }
</style>
<script src="js/jquery.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
<script>
	//chargement de annyang
        var annyangScript = document.createElement('script');
        if (/localhost/.exec(window.location)) {
                annyangScript.src = "//vocal.ctrlfagency.com/js/annyang.js"
                         } else {
                annyangScript.src = "//vocal.ctrlfagency.com/js/annyang.min.js"
                        }
        document.write(annyangScript.outerHTML);
</script>
<script>
	$(function(){
				//chargement du https
				if (window.location.protocol != "https:")
					window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);

				// on fabrique la div map contenu dans la div mapid
				var mapcontainer = 	$('#mapid');
				mapcontainer.html('<div id="map" style="height: 350px"></div>');

				// début de la fonction de récupération de l'addresse Ip
				$.ajax({
							//url : "https://api.tel2geo.fr/simpleban/?addr="+addr+"&limit=10c&callback=?",
							url : "https://www.thibautlombard.space/geo/ip.php?callback=?",
							dataType:"jsonp",
							jsonp:"callback",
							success:function(data)
							{
							var	ip = data.ip;
							showmapIP(ip);
							}
						});
				// fin de la fonction de récupération de l'addresse IP
				function showmapIP(ip)
						{
									$.ajax({
											//url : "https://api.tel2geo.fr/simpleban/?addr="+addr+"&limit=10c&callback=?",
											url : "https://www.thibautlombard.space/geo/?ip="+ip+"&mycallback=?",
											dataType:"jsonp",
											jsonp:"callback",
											success:function(data)
											{
											// debug , cadre la carte de manière imprècise avec geoIP récupère la latitude et la longitude
											//alert('latitude ' + data.latitude + 'longitude ' + data.longitude );
											latsetview = data.latitude;
											lonsetview = data.longitude;
						
												var mymap = L.map('map').setView([latsetview,lonsetview], 6);
												L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiY3RybGZhZ2VuY3kiLCJhIjoiY2l0aDR1YTdrMDAwYTNvcGRqOTNqZGU1byJ9.KPVm47TmLVJfAvQAUVpNRQ', {
													attribution: 'VOCALR &copy; TEL2GEO',
													maxZoom: 18,
													id: 'mapbox.streets',
													accessToken: 'pk.eyJ1IjoiY3RybGZhZ2VuY3kiLCJhIjoiY2l0aDR1YTdrMDAwYTNvcGRqOTNqZGU1byJ9.KPVm47TmLVJfAvQAUVpNRQ'
												}).addTo(mymap);

												//-1.539359 longitude : 47.208808   
												//L.marker([latsetview,lonsetview]).addTo(mymap)
												//.bindPopup("<b>Hello world!</b><br />I am a popup.").openPopup();
												//var popup = L.popup();

											}// fin de la requete ajax showmapIP
										});
					
							}
						
				});// fin de fonction document ready
 	</script>
	<!-- Jquery doit etre placé avant bootstrap pour éviter les erreurs -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<script src="js/bootstrap.min.js"></script>
	<script>
	//début du code source dégeulasse
	"use strict";
	// On s'assure que annyang est chargé avec succès
	if (annyang) {
		// on définit la commande hello.
		//var hello = function() {
		//	$(".hello").slideDown("slow");
		//	$(".voice_instructions_after").slideDown("slow");
		//	scrollTo("#section_hello");
		//	};
					// début de le fonction de reverse geocoding
				var geolocalise = function (tag)
								{
								var mapcontainer = 	$('#mapid');
								var element = document.getElementById('addresses');
								var addr = tag;
								var limit = 10;
								$('#mapid').contents().remove();
								$('#addresses').contents().remove();
								mapcontainer.html('<div id="map" style="height: 350px"></div>');
								$(".voice_instructions_after").slideDown("slow");
									//fonction de vérification des entiers
									function isInt(value) {
											return !isNaN(value) && (function(x) { return (x | 0) === x; })(parseFloat(value))
											}
									// vérifie si la limite est configurée
									var checklimit = addr.split("limite");
									//supprime les espaces blancs
									var wws =  checklimit[1].replace(/\s/g, "");
									if(isInt(wws) && wws<300 && typeof(wws) != "undefined" && wws !== null ){
										var limit = wws;
										var addr = checklimit[0];
												} else {
	   									var limit=10;
												}
								
								$.ajax({
								//url : "https://api.tel2geo.fr/simpleban/?addr="+addr+"&limit=10c&callback=?",

											//url : "https://api.tel2geo.fr/simpleban/api/addr/"+addr+"/limit/10c&callback=?",
											url : "//api.tel2geo.fr/simpleban/api/addr/"+addr+"/limit/"+limit+"/callback/",
											dataType:"jsonp",
											jsonp:"callback",
											success:function(data)
											{

												// debut de nouvelle map
												// Sépare les variables à séparer
												//créé une variable tableau à partir du tableau JSON récupéré
												var tableau = data.addresses;
												var premierecoordonnees = data.coordonnees.toString();
												var separationpremierecoordonnees = premierecoordonnees.split(",");
												var premieraddr = tableau.toString().split(",");

												var mymap = new L.map('map').setView([separationpremierecoordonnees[1],separationpremierecoordonnees[0]], 12);
												new L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiY3RybGZhZ2VuY3kiLCJhIjoiY2l0aDR1YTdrMDAwYTNvcGRqOTNqZGU1byJ9.KPVm47TmLVJfAvQAUVpNRQ', {
												attribution: 'VOCALR &copy; TEL2GEO',
												maxZoom: 18,
												id: 'mapbox.streets',
												accessToken: 'pk.eyJ1IjoiY3RybGZhZ2VuY3kiLCJhIjoiY2l0aDR1YTdrMDAwYTNvcGRqOTNqZGU1byJ9.KPVm47TmLVJfAvQAUVpNRQ'
												}).addTo(mymap);
												
												// la variable tableau.length permet le calcul du nombre des occurences qui apparaissent dans le tableau
												for (var i=0; i<tableau.length; i++) {
													var latlon = data.coordonnees[i].split(",");
													//on charge la liste des markers
													new L.marker([latlon[1],latlon[0]])
													.bindPopup(data.addresses[i])
													.addTo(mymap);
													var donnees = '<p><b>adresses:</b> ' + data.addresses[i] + '&nbsp;<b>latitude:</b> ' + latlon[0] + ' <b>longitude : </b>' + latlon[1] +' &nbsp;&nbsp;<br></p>' ;
													element.innerHTML += donnees; 
													}

											scrollTo("#section_addresses");
											}
										});
								}

		// on définit la fonction de rechargement de la page
		var rechargerpage= function() {
		window.location.reload();
			}
		// on définit la fonction de rechargement de la page
		var pageaccueil= function() {
		document.location='https://vocal.ctrlfagency.com/';
			}			
		var meteo= function() {
		document.location='https://vocal.ctrlfagency.com/meteo';
			}	
		var t2g= function() {
		document.location='https://vocal.ctrlfagency.com/t2g';
			}
		// on définit la fonction de rechargement de la page
		var pagebiorythme= function() {
		document.location='https://vocal.ctrlfagency.com/biorhythm';
			}

		// On charge les commandes
		var commands = {
		'adresse (du) *search':      geolocalise,
	    'recharger la page':      rechargerpage,
		'accueil':      pageaccueil,
		'météo':      meteo,
		'géolocalisation':      t2g,
      	'biorythme':      pagebiorythme
      	
			};

	// Active le mode debug que nous pourrons par la suite visualiser dans la console (F12)
	annyang.debug();

    	// Ajoute les commandes de réponses
	annyang.addCommands(commands);

    	// Configure le langage: pour la reconaissance vocale (Anglais est par défaut)
    	annyang.setLanguage('fr-FR');

    	// Démarre le mode listening, en cas d'échec, cela affiche le message d'erreur unsupported.
 	annyang.start();
 		} else {
   		$(document).ready(function() {
  		$('#unsupported').fadeIn('fast');
		});
		}
	//définit la vitesse du scrollTo
  	var scrollTo = function(identifier, speed) {
    		$('html, body').animate({
        	scrollTop: $(identifier).offset().top
    		}, speed || 1000);
  	}
  	</script>
	<link rel="stylesheet" href="css/main.css" />
</head>
<body>
<a href='https://github.com/tel2geo/' style='position:fixed;padding:5px 45px;width:250px;top:60px;right:-50px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);box-shadow:0 0 0 3px #2c699e, 0 0 20px -3px rgba(0, 0, 0, 0.5);text-shadow:0 0 0 #ffffff, 0 0 5px rgba(0, 0, 0, 0.3);background-color:#2c699e;color:#ffffff;font-size:13px;font-family:sans-serif;text-decoration:none;font-weight:bold;z-index:9999;border:2px dotted #ffffff;-webkit-backface-visibility:hidden;letter-spacing:.5px;'>Fork me on GITHUB</a>
	  <div style="margin:100px;">
	  <nav class="navbar navbar-inverse navbar-static-top">
	  <div class="container">
	    <a class="navbar-brand" href="/">VOCALR</a>
	    <ul class="nav navbar-nav">
	      <li>
		<a href="/biorhythm">Biorhythm</a>
	      </li>
	      <li class="active">
		<a href="/t2g">Geolocation</a>
	      </li>	   
	      <li>
		<a href="/meteo">Weather</a>
	      </li>
 	      <li>
		<a href="/">Home</a>
	      </li>
	    </ul>
	  </div>
	  </nav>
	    <div class="jumbotron"  style="padding:40px;">
	      <h1>SimpleBAN - API</h1>
	      <p align="justify">SimpleBAN retreive any addresses and permit to visualize them on a map instantly. In order to try the API (application programming interface) SIMPLE BAN, you should say the following sentence.</p>
		<h2>Example</h2>
		<div id="section_addresses">
	  	<p><em>Quelque chose de plus intéressant... </em></p>
    		<p class="voice_instructions">Dites "Adresse" et demandez lui une adresse (astuce: puis pour affecter une limite de résultats dire "limite" et le nombre de résultats souhaités).</p>
	  	<div id="mapid"></div>
	  	<p class="addresses" id="addresses" align="justify"></p>
		<p class="voice_instructions_after">Pour naviguer sur le site : Dites "accueil", "météo", "géolocalisation", "biorythme", ou "recharger la page".</p>
		</div>
		<h2>More</h2>
		<p align="justify">The T2G api is available on github <a href="https://github.com/tel2geo/t2g/tree/master/api">there</a>.</p>
		<h2>SIMPLEBAN links</h2>	
		<ol class="list-group">
				<li class="list-group-item">
				<p>adresse.data.gouv.fr - French BASE D'ADDRESSE NATIONALE Database <a href="http://adresse.data.gouv.fr">link</a>.</p>
				</li>
				<li class="list-group-item">
				<p>LeafletJS - Map configuration and layers <a href="http://leafletjs.com/examples/quick-start.html">link</a>. </p>
				</li>
				<li class="list-group-item">
				<p>SimpleBAN - github <a href="https://github.com/tel2geo/t2g/tree/master/api">link</a>.</p>
				</li>
			</ol>
		</div>
	  </div>
	<div id="unsupported" class="hidden">
	   <h4>It seems that your browser is NOT supporting vocal recognition.</h4>
	   <p>Think to update (chrome, internet explorer , safari or firefox). Don't forget to allow ssl certificate from StartCOM CA in order to be able to browse the website <a href="https://vocal.ctrlfagency.com/">here.</a></p>
	</div>
	<!-- 
	Chargement de la lib highlight : 
	Cette lib permet les effet show et hide et aussi de glisser
	 -->
	<script src="js/highlight.pack.js"></script>
	<script>
	hljs.initHighlightingOnLoad();
	</script>
</body>
</html>

